body{
    background: rgb(71, 71, 235);
    font: normal 15pt Arial
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.653);
}
select{
    width: 150px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    font: normal 15px Arial;

}